
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Roboto:wght@100;400;700;900&display=swap');
/* background-image: linear-gradient(to right,rgba(51,51,51,.15),rgba(0,0,0,0)); */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(219, 219, 219);
    font-family: 'Raleway';
}

.main {
    margin-right: 3vw;
    margin-left: 3vw;
    margin: 0;
}

.section {
    height: 70vh;
    padding: 30px;
    margin: 0px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.section-content {
    flex: 1.5;
    margin: auto;
}

.section-image {
    flex: 1;
    background: url('');
}

.section-title {
    font-weight: 700;
    font-size: 3em;
    color: white;
    margin: 0;
}

.section-description {
    font-size: 2em;
    color: white;
    margin: 0;
}

.section-btn {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    font-size: 1.2em;
    margin-top: 30px;
    outline: none;
}

.section-btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

.top-nav {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: rgb(237, 237, 237);
    display: flex;
    filter: drop-shadow(0 0 0.75rem rgba(46, 46, 46, 0.216));
}

.nav-btn {
    flex: 1;
    background-color: transparent;
    font-weight: 700;
    color: rgb(217, 159, 35);
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: calc(1em - 1/12vw);
    width: 10vw;
    max-width: 15vw;
    text-align: center;
}

.nav-btn:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.spacer {
    height: 8vh; 
    width: 100vw;
}

@media (max-width: 800px) {
    .section {
        height: 100vh;
    }

    .section-title {
        font-size: 2.6em;
    }

    .section-description {
        font-size: 1.4em;
    }

    .section-image {
        flex: 0;
    }

    .top-nav {
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    .nav-btn {
        height: 0;
        flex: 0;
    }

    .spacer {
        height: 0vh;
    }
}
